#news {
    max-width: 30em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#news h1 {
    margin-top: 1em;
}

.news-item {
    min-height: 6em;
    padding: 1em;
    margin: 0.5em 0 0.5em 0em;
    background: linear-gradient(90deg, transparent 10%, black 90%);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail {
    width: 45%;
    margin-right: 5%;
}

.thumbnail img {
    width: 100%;
    border-radius: 0.5em;
    display: block;
}

.news-item-text {
    max-width: 50%;
    color: white;
    text-align: right;
    word-wrap: break-word;
}

.news-item-text h2 {
    font-size: 1.25em;
}

.news-item-text h3 {
    font-size: 0.75em;
    font-style: italic;
}

.news-item-container:hover .news-item {
    transform: translateX(-1rem);
    margin-left: 1rem;
}

.news-item-container:hover {
    margin-left: 0;
}

.news-item-container:hover .news-item-text {
    color: white; /*unused*/
}
