.first {
    order: -1;
}

.mirroredX {
    scale: -1 1;
}

.scroll-link-container {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.scroll-link {
    padding: 2em;
    margin: 0 1em;
    color: black;
    border-radius: 1em;
    text-align: center;
}

.scroll-link-container .icon {
    transition: transform 0.2s;
    flex: 0 0 auto;
}

.scroll-link:hover {
    color: purple;
}

.scroll-link-container.rotate .scroll-link:hover ~ .icon {
    transform: rotate(-45deg);
}

.scroll-link-container.shift .scroll-link:hover ~ .icon {
    transform: translateX(-2em);
}

.scroll-link-container.flip .scroll-link:hover ~ .icon {
    transform: scale(-1, 1);
}

.project {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}

.text-column,
.image-column {
    width: 47.5%;
    max-width: 35em;
    padding: 0 1.25%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.text-column {
    align-items: flex-start;
}

.text-column.right-aligned {
    align-items: flex-end;
}

.project h2 {
    font-size: 50pt;
    margin-bottom: 0.1em;
}

.project p {
    text-align: justify;
    text-align-last: center;
    margin-bottom: 1em;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    padding: 0.5em 1em;
    margin-right: 1em;
    font-weight: bold;
    color: whitesmoke;
    background: grey;
    border-radius: 9999em; /* I'm sure there is a better way to get a circular left and right sides but this works for now, using a percentage turned it into an ellipse */
}

.right-aligned .skill {
    margin-right: 0;
    margin-left: 1em;
}

.project-image {
    width: 100%;
}

.project-actions {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.outgoing-link {
    margin-right: 1em;
}
.margin-right-auto {
    margin-right: auto;
}

.download-button {
    font-size: 20pt;
    padding: 0.5em;
    margin-left: 1em;
    display: flex;
    text-wrap: nowrap;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background: white;
}

.download-button:hover {
    color: purple;
    cursor: pointer;
}

.download-button::before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background: url("/public/images/download.png");
    background-size: cover;
}

@media (max-width: 65em) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .text-column,
    .text-column.right-aligned,
    .image-column {
        width: 100%;
        max-width: 20em;
        align-items: center;
    }

    .image-column {
        order: 0;
    }

    .skill,
    .right-aligned .skill {
        margin: 0.5em;
        justify-content: center !important;
        align-items: center !important;
    }

    .project h2 {
        font-size: 36pt;
    }

    .project-actions {
        flex-direction: column;
    }

    .outgoing-link {
        margin-right: 0;
        margin-top: 0.5em;
    }

    .download-button {
        margin-left: 0;
        margin-top: 0.5em;
    }
}
