html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

a {
    text-decoration: none;
    color: purple;
}

ul {
    list-style: none;
}

p a:hover,
.contact:hover {
    text-decoration: underline;
}

a > * {
    user-select: none;
}

img {
    display: block;
}

.base-container {
    min-height: 100vh;
    background: whitesmoke;
    padding: 5rem 2.5em 0; /* top must be at least 5em to prevent navbar overlap*/
    box-sizing: border-box;
}

.home-page-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.resume-page-container,
.projects-page-container,
.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    font-size: 15pt;
    padding: 0.2em;
    display: flex;
    align-items: center;
}

/* note that the urls have to set before the other properties */

.github::before {
    background: url("/media/images/github-icon.png");
}

.linkedin::before {
    background: url("/media/images/linkedin-icon.png");
}

.email::before {
    background: url("/media/images/mail-icon.png");
}

.download::before {
    background: url("/media/images/download.png");
}

.contact::before,
.download::before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background-size: cover;
}

.welcome {
    max-width: 35em;
    text-align: justify;
    text-align-last: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome * {
    margin-bottom: 1em;
}

.welcome h1 {
    text-align: center;
}

.footer {
    padding: 1em;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer .contact {
    flex-direction: column-reverse;
    font-size: 12pt;
}

.unserious {
    font-style: italic;
    text-decoration: line-through;
}

.disappointed {
    font-style: italic;
    color: grey;
}

.icon {
    width: 3rem;
    overflow: hidden;
}

.icon img {
    width: 100%;
}

.portrait {
    width: 100%;
    max-width: 40em;
    overflow: hidden;
    border-radius: 1em;
}

.portrait img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.news-item-container {
    cursor: pointer;
    margin-left: 1rem;
}

.resume {
    width: 100%;
    max-width: 75em;
    height: 80em;
    margin: 2em 0;
}

@media (max-width: 50em) {
    .home-page-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
