* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

.main-container {
    min-height: 100vh;
    background: whitesmoke;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 5em; /*prevents overlap with navbar*/
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome {
    max-width: 35em;
    text-align: left;
}

.welcome * {
    margin-top: 1em;
}

.unserious {
    font-style: italic;
    text-decoration: line-through;
}

.clickable-container {
    cursor: pointer;
}
