* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    /* background: linear-gradient(rgba(255, 72, 72, 0.5), rgba(72, 72, 255, 0.5)); */
}

a {
    text-decoration: none;
    color: purple;
}

.main-container {
    min-height: 100vh;
    background: whitesmoke;
    padding: 5em 2.5em; /* top must be at least 5em to prevent navbar overlap*/
    box-sizing: border-box;
}

.home-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
}

.welcome {
    max-width: 35em;
    min-width: 17.5em;
    text-align: justify;
    text-align-last: center;
}

.welcome * {
    margin-top: 1em;
}

.unserious {
    font-style: italic;
    text-decoration: line-through;
}

.news-item-container {
    cursor: pointer;
    margin-left: 1rem;
}

.resume {
    width: 100%;
    max-width: 75em;
    height: 80em;
    margin: 2em 0;
}

.text-hyperlink:hover {
    text-decoration: underline;
}

@media (max-width: 65em) {
    .site-name {
        display: none;
    }
}

@media (max-width: 50em) {
    .nav {
        display: none;
    }

    .nav-menu-btn {
        display: block;
    }

    #nav-menu.visible {
        display: flex;
    }

    .home-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #news {
        align-items: center;
    }
}
